Django==1.11.1
django-extensions==1.7.8
django-modeltranslation==0.12
django-polymorphic==1.2
djangorestframework==3.6.2
pg8000==1.10.6
python-dateutil==2.6.0
pytz==2017.2
six==1.10.0
testing.common.database==2.0.0
testing.postgresql==1.3.0
Werkzeug==0.12.1
